* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #4286f4;
  margin-top: 30px;
  margin-bottom: 60px;
}
div {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
input {
  width: 100%;
  margin: 10px;
  padding: 18px 10px;
  border-radius: 4px;
  border: 1px solid #4e5766;
  box-shadow: 1px 0.5px #888888;
  font-size: 18px;
}
button {
  padding: 12px 10px;
  width: 30%;
  border-radius: 4px;
  background-color: #4286f4;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}
